header, main, footer
    max-width: 1920px
    margin: 0 auto

body
    padding: 0
    margin: 0
    background: #e5e5e5
    font-family: "Montserrat", sans-serif !important

.container
    margin: 0 auto

.brand-name
    font-weight: bold
    font-size: 24px
    line-height: 29px
    letter-spacing: 0.05em
    text-transform: uppercase
    color: #212121


